@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --lightGreen: #47b881;
  --green: #14a76c;
  --lightYellow: #f5f06e;
  --yellow: #ffe400;
  --lightGrey: #fbfbfb;
  --blue: #0075ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #e5f3ec;
  display: flex;
  justify-content: center;
  font-family: "Poppins", sans-serif;
}

.wrapper {
  margin: 2rem;
  padding: 1.5rem 2.5rem;
  max-width: 80vw;
  min-width: 30vw;
  border-radius: 0.3rem;
  box-shadow: 2px 2px 2px lightgray;
  background-color: var(--green);
}

header {
  text-align: center;
  color: white;
  margin-bottom: 1rem;
}

h1 {
  font-size: 3rem;
  font-weight: 500;
}

a,
a:visited,
a:hover {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: var(--lightYellow);
  transition: 0.3s ease;
}

.counter {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: var(--lightYellow);
  color: var(--yellow);
}

.counter > span {
  font-weight: 600;
}

form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-radius: 0.5rem;
  background-color: var(--lightGreen);
  border: 1px solid var(--green);
  padding: 0.5rem;
  margin-bottom: 1rem;
}

form > * {
  border: none;
}

form > input[type="text"] {
  font-size: 18px;
  padding: 0 1rem;
  background-color: var(--lightGreen);
  border-radius: 0.5rem;
  flex-grow: 1;
  min-width: 20%;
}

form > input[type="text"]::placeholder {
  color: #32815b;
}

form > *:focus {
  outline: none;
}
form > input[type="submit"] {
  background-color: var(--blue);
  font-size: 2rem;
  padding: 0.2rem 1rem;
  border-radius: 0.3rem;
  color: white;
}

form > input[type="submit"]:hover {
  background-color: #0565d6;
  transition: 0.3s ease;
}

form:focus-within {
  outline: none;
  border: 1px solid var(--yellow);
  border-radius: 0.5rem;
  transition: 0.3s ease;
}

ul {
  list-style: none;
}

li {
  background-color: white;
  padding: 0.7rem 1rem;
  margin: 0.5rem 0;
  border-radius: 0.5rem;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

li > span {
  flex: 2;
  margin: 0 0.7rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

li > *:not(span) {
  cursor: pointer;
}

li > button {
  border: none;
  background: none;
  font-size: 0.8rem;
  color: var(--green);
}

li > button:focus,
li > button:hover {
  outline: none;
  color: var(--lightYellow);
}

.about {
  text-align: center;
}
